.fullscreen {
  display: flex;
  align-items: center;
  height: 100vh;
  align-content: center;
}

.center {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.top {
  justify-content: center;
  height: auto;
}
