.cluster-container {
  min-height: 219px;
  height: auto;
  padding-bottom: 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.image-container {
  width: 160px;
  height: 160px;
  margin: 38px 24px 0;
}

.img {
  width: 160px;
  height: 160px;
}

.product-stack {
  padding-top: 21px;
  padding-bottom: 16px;
  padding-right: 50px;
  width: 100%;
}

.product-title {
  color: #333;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 300;
  text-overflow: ellipsis;
}

.price-container {
  color: #333;
  margin-bottom: 14px;
  font-size: 24px;
}

.priceSymbol {
  padding-right: 5px;
}

.decimals {
  font-weight: 600;
  font-size: 12px;
  padding-left: 3px;
  padding-top: 3px;
}

.shipping {
  color: #00a650;
}
