@import '../../styles/styles.constants.scss';

.header {
  height: 50px;
  width: 100%;
  background-color: $yellow;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url(https://http2.mlstatic.com/ui/navigation/5.3.7/mercadolibre/logo__small.png);
  background-repeat: no-repeat;
  height: 28px;
  width: 39px;
}
